In [1]:
import numpy as np
import pandas as pd

In [2]:
x = np.random.rand(10,4)

In [3]:
x

array([[0.88476703, 0.70800209, 0.98051442, 0.60673094],
       [0.7361597 , 0.83932398, 0.4739795 , 0.79707964],
       [0.81498871, 0.23519409, 0.82411142, 0.80344194],
       [0.07140569, 0.52945786, 0.14202615, 0.82444645],
       [0.11314728, 0.80498855, 0.53084417, 0.39990311],
       [0.70022168, 0.64389308, 0.66631669, 0.59165118],
       [0.06545006, 0.76739348, 0.01171878, 0.91051652],
       [0.99021141, 0.73615937, 0.65436543, 0.7884743 ],
       [0.45765388, 0.167041  , 0.47056184, 0.10608948],
       [0.88978514, 0.63788177, 0.0831702 , 0.43404054]])

In [4]:
pd.DataFrame(np.random.rand(10,4), columns = list('abcd'))

          a         b         c         d
0  0.284550  0.776233  0.885519  0.832953
1  0.315352  0.045944  0.996041  0.465348
2  0.117063  0.219971  0.663692  0.021551
3  0.737807  0.182101  0.772467  0.009646
4  0.665152  0.252839  0.652051  0.829496
5  0.945475  0.742823  0.722615  0.034000
6  0.302702  0.999646  0.234633  0.005661
7  0.138134  0.718645  0.463581  0.797984
8  0.651251  0.160321  0.480177  0.609670
9  0.853629  0.804754  0.261157  0.307771

In [5]:
df = pd.DataFrame(np.random.rand(10,4), columns = list('abcd'))

In [6]:
df.rename(columns = dict(a='sam', b='noor', c='sss', d='kkk'))

        sam      noor       sss       kkk
0  0.224034  0.497033  0.692270  0.849861
1  0.670002  0.444003  0.567439  0.201794
2  0.383560  0.474156  0.078187  0.444873
3  0.076097  0.284969  0.282060  0.651459
4  0.467262  0.099459  0.316442  0.756635
5  0.757631  0.809445  0.048236  0.789551
6  0.554139  0.615326  0.826731  0.225934
7  0.136308  0.308612  0.919198  0.493254
8  0.727562  0.082066  0.018531  0.264129
9  0.293916  0.075005  0.127077  0.472372

In [7]:
df.columns = list('abcd')

In [8]:
df

          a         b         c         d
0  0.224034  0.497033  0.692270  0.849861
1  0.670002  0.444003  0.567439  0.201794
2  0.383560  0.474156  0.078187  0.444873
3  0.076097  0.284969  0.282060  0.651459
4  0.467262  0.099459  0.316442  0.756635
5  0.757631  0.809445  0.048236  0.789551
6  0.554139  0.615326  0.826731  0.225934
7  0.136308  0.308612  0.919198  0.493254
8  0.727562  0.082066  0.018531  0.264129
9  0.293916  0.075005  0.127077  0.472372

In [9]:
df.columns.str.replace('a', '_')

Index(['_', 'b', 'c', 'd'], dtype='object')

In [10]:
df.add_prefix('_Y')

        _Ya       _Yb       _Yc       _Yd
0  0.224034  0.497033  0.692270  0.849861
1  0.670002  0.444003  0.567439  0.201794
2  0.383560  0.474156  0.078187  0.444873
3  0.076097  0.284969  0.282060  0.651459
4  0.467262  0.099459  0.316442  0.756635
5  0.757631  0.809445  0.048236  0.789551
6  0.554139  0.615326  0.826731  0.225934
7  0.136308  0.308612  0.919198  0.493254
8  0.727562  0.082066  0.018531  0.264129
9  0.293916  0.075005  0.127077  0.472372

In [11]:

df.add_suffix('_X')

        a_X       b_X       c_X       d_X
0  0.224034  0.497033  0.692270  0.849861
1  0.670002  0.444003  0.567439  0.201794
2  0.383560  0.474156  0.078187  0.444873
3  0.076097  0.284969  0.282060  0.651459
4  0.467262  0.099459  0.316442  0.756635
5  0.757631  0.809445  0.048236  0.789551
6  0.554139  0.615326  0.826731  0.225934
7  0.136308  0.308612  0.919198  0.493254
8  0.727562  0.082066  0.018531  0.264129
9  0.293916  0.075005  0.127077  0.472372

In [12]:
df

          a         b         c         d
0  0.224034  0.497033  0.692270  0.849861
1  0.670002  0.444003  0.567439  0.201794
2  0.383560  0.474156  0.078187  0.444873
3  0.076097  0.284969  0.282060  0.651459
4  0.467262  0.099459  0.316442  0.756635
5  0.757631  0.809445  0.048236  0.789551
6  0.554139  0.615326  0.826731  0.225934
7  0.136308  0.308612  0.919198  0.493254
8  0.727562  0.082066  0.018531  0.264129
9  0.293916  0.075005  0.127077  0.472372

In [13]:
df.loc[::-1]

          a         b         c         d
9  0.293916  0.075005  0.127077  0.472372
8  0.727562  0.082066  0.018531  0.264129
7  0.136308  0.308612  0.919198  0.493254
6  0.554139  0.615326  0.826731  0.225934
5  0.757631  0.809445  0.048236  0.789551
4  0.467262  0.099459  0.316442  0.756635
3  0.076097  0.284969  0.282060  0.651459
2  0.383560  0.474156  0.078187  0.444873
1  0.670002  0.444003  0.567439  0.201794
0  0.224034  0.497033  0.692270  0.849861

In [14]:
df.loc[::-1].reset_index(drop = True)

          a         b         c         d
0  0.293916  0.075005  0.127077  0.472372
1  0.727562  0.082066  0.018531  0.264129
2  0.136308  0.308612  0.919198  0.493254
3  0.554139  0.615326  0.826731  0.225934
4  0.757631  0.809445  0.048236  0.789551
5  0.467262  0.099459  0.316442  0.756635
6  0.076097  0.284969  0.282060  0.651459
7  0.383560  0.474156  0.078187  0.444873
8  0.670002  0.444003  0.567439  0.201794
9  0.224034  0.497033  0.692270  0.849861

In [15]:
df

          a         b         c         d
0  0.224034  0.497033  0.692270  0.849861
1  0.670002  0.444003  0.567439  0.201794
2  0.383560  0.474156  0.078187  0.444873
3  0.076097  0.284969  0.282060  0.651459
4  0.467262  0.099459  0.316442  0.756635
5  0.757631  0.809445  0.048236  0.789551
6  0.554139  0.615326  0.826731  0.225934
7  0.136308  0.308612  0.919198  0.493254
8  0.727562  0.082066  0.018531  0.264129
9  0.293916  0.075005  0.127077  0.472372

In [16]:
df.loc[:,::-1]

          d         c         b         a
0  0.849861  0.692270  0.497033  0.224034
1  0.201794  0.567439  0.444003  0.670002
2  0.444873  0.078187  0.474156  0.383560
3  0.651459  0.282060  0.284969  0.076097
4  0.756635  0.316442  0.099459  0.467262
5  0.789551  0.048236  0.809445  0.757631
6  0.225934  0.826731  0.615326  0.554139
7  0.493254  0.919198  0.308612  0.136308
8  0.264129  0.018531  0.082066  0.727562
9  0.472372  0.127077  0.075005  0.293916

In [17]:
df.select_dtypes(exclude = 'float64')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
df.dtypes

a    float64
b    float64
c    float64
d    float64
dtype: object

In [19]:
df = df.astype(dict(a = 'string'))

In [20]:
df.dtypes

a     string
b    float64
c    float64
d    float64
dtype: object

In [21]:
df.iloc[:5, :1] = 'Sumi'

In [22]:
df

                    a         b         c         d
0                Sumi  0.497033  0.692270  0.849861
1                Sumi  0.444003  0.567439  0.201794
2                Sumi  0.474156  0.078187  0.444873
3                Sumi  0.284969  0.282060  0.651459
4                Sumi  0.099459  0.316442  0.756635
5   0.757630729127637  0.809445  0.048236  0.789551
6   0.554139118597951  0.615326  0.826731  0.225934
7  0.1363079929433516  0.308612  0.919198  0.493254
8  0.7275620765416443  0.082066  0.018531  0.264129
9  0.2939157168598907  0.075005  0.127077  0.472372

In [23]:
pd.to_numeric(df.a, errors = 'coerce')

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5    0.757631
6    0.554139
7    0.136308
8    0.727562
9    0.293916
Name: a, dtype: float64

In [24]:
df['a'] = pd.to_numeric(df.a, errors = 'coerce').fillna(0)

In [25]:
pd.options.display.precision = 3

In [26]:
df

       a      b      c      d
0  0.000  0.497  0.692  0.850
1  0.000  0.444  0.567  0.202
2  0.000  0.474  0.078  0.445
3  0.000  0.285  0.282  0.651
4  0.000  0.099  0.316  0.757
5  0.758  0.809  0.048  0.790
6  0.554  0.615  0.827  0.226
7  0.136  0.309  0.919  0.493
8  0.728  0.082  0.019  0.264
9  0.294  0.075  0.127  0.472

In [27]:
df.apply(pd.to_numeric, errors = 'coerce')

       a      b      c      d
0  0.000  0.497  0.692  0.850
1  0.000  0.444  0.567  0.202
2  0.000  0.474  0.078  0.445
3  0.000  0.285  0.282  0.651
4  0.000  0.099  0.316  0.757
5  0.758  0.809  0.048  0.790
6  0.554  0.615  0.827  0.226
7  0.136  0.309  0.919  0.493
8  0.728  0.082  0.019  0.264
9  0.294  0.075  0.127  0.472

In [28]:
df.a.apply(pd.to_numeric, errors = 'coerce')

0    0.000
1    0.000
2    0.000
3    0.000
4    0.000
5    0.758
6    0.554
7    0.136
8    0.728
9    0.294
Name: a, dtype: float64

In [29]:
import datetime

In [30]:
t = datetime.date.today()
t

datetime.date(2022, 12, 21)

In [31]:
datetime.date.strftime(t, format = '%Y, %m, %d')

'2022, 12, 21'

In [32]:
df['date'] = datetime.date.strftime(t, format = '%Y, %m, %d')

In [33]:
df

       a      b      c      d          date
0  0.000  0.497  0.692  0.850  2022, 12, 21
1  0.000  0.444  0.567  0.202  2022, 12, 21
2  0.000  0.474  0.078  0.445  2022, 12, 21
3  0.000  0.285  0.282  0.651  2022, 12, 21
4  0.000  0.099  0.316  0.757  2022, 12, 21
5  0.758  0.809  0.048  0.790  2022, 12, 21
6  0.554  0.615  0.827  0.226  2022, 12, 21
7  0.136  0.309  0.919  0.493  2022, 12, 21
8  0.728  0.082  0.019  0.264  2022, 12, 21
9  0.294  0.075  0.127  0.472  2022, 12, 21

In [34]:
import polars as pl

In [35]:
import seaborn as sns

In [36]:
df = pl.DataFrame(sns.load_dataset('mpg'))

In [37]:
df.head()

shape: (5, 9)
┌──────┬───────────┬────────────┬────────────┬─────┬────────────┬────────────┬────────┬────────────┐
│ mpg  ┆ cylinders ┆ displaceme ┆ horsepower ┆ ... ┆ accelerati ┆ model_year ┆ origin ┆ name       │
│ ---  ┆ ---       ┆ nt         ┆ ---        ┆     ┆ on         ┆ ---        ┆ ---    ┆ ---        │
│ f64  ┆ i64       ┆ ---        ┆ f64        ┆     ┆ ---        ┆ i64        ┆ str    ┆ str        │
│      ┆           ┆ f64        ┆            ┆     ┆ f64        ┆            ┆        ┆            │
╞══════╪═══════════╪════════════╪════════════╪═════╪════════════╪════════════╪════════╪════════════╡
│ 18.0 ┆ 8         ┆ 307.0      ┆ 130.0      ┆ ... ┆ 12.0       ┆ 70         ┆ usa    ┆ chevrolet  │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ chevelle   │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ malibu     │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 15.0 ┆ 8         ┆ 350.0      ┆ 165.0      ┆ ... ┆ 11.5       ┆ 70         ┆ usa    ┆ buick      │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ skylark    │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ 320        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 18.0 ┆ 8         ┆ 318.0      ┆ 150.0      ┆ ... ┆ 11.0       ┆ 70         ┆ usa    ┆ plymouth   │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ satellite  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 16.0 ┆ 8         ┆ 304.0      ┆ 150.0      ┆ ... ┆ 12.0       ┆ 70         ┆ usa    ┆ amc rebel  │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ sst        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 17.0 ┆ 8         ┆ 302.0      ┆ 140.0      ┆ ... ┆ 10.5       ┆ 70         ┆ usa    ┆ ford       │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ torino     │
└──────┴───────────┴────────────┴────────────┴─────┴────────────┴────────────┴────────┴────────────┘

In [38]:
df.describe()

shape: (7, 10)
┌───────────┬───────────┬───────────┬────────────┬─────┬────────────┬──────────┬────────┬──────────┐
│ describe  ┆ mpg       ┆ cylinders ┆ displaceme ┆ ... ┆ accelerati ┆ model_ye ┆ origin ┆ name     │
│ ---       ┆ ---       ┆ ---       ┆ nt         ┆     ┆ on         ┆ ar       ┆ ---    ┆ ---      │
│ str       ┆ f64       ┆ f64       ┆ ---        ┆     ┆ ---        ┆ ---      ┆ str    ┆ str      │
│           ┆           ┆           ┆ f64        ┆     ┆ f64        ┆ f64      ┆        ┆          │
╞═══════════╪═══════════╪═══════════╪════════════╪═════╪════════════╪══════════╪════════╪══════════╡
│ count     ┆ 398.0     ┆ 398.0     ┆ 398.0      ┆ ... ┆ 398.0      ┆ 398.0    ┆ 398    ┆ 398      │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ null_coun ┆ 0.0       ┆ 0.0       ┆ 0.0        ┆ ... ┆ 0.0        ┆ 0.0      ┆ 0      ┆ 0        │
│ t         ┆           ┆           ┆            ┆     ┆            ┆          ┆        ┆          │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ mean      ┆ 23.514573 ┆ 5.454774  ┆ 193.425879 ┆ ... ┆ 15.56809   ┆ 76.01005 ┆ null   ┆ null     │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ std       ┆ 7.815984  ┆ 1.701004  ┆ 104.269838 ┆ ... ┆ 2.757689   ┆ 3.697627 ┆ null   ┆ null     │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ min       ┆ 9.0       ┆ 3.0       ┆ 68.0       ┆ ... ┆ 8.0        ┆ 70.0     ┆ europe ┆ amc amba │
│           ┆           ┆           ┆            ┆     ┆            ┆          ┆        ┆ ssador   │
│           ┆           ┆           ┆            ┆     ┆            ┆          ┆        ┆ brougham │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ max       ┆ 46.6      ┆ 8.0       ┆ 455.0      ┆ ... ┆ 24.8       ┆ 82.0     ┆ usa    ┆ vw       │
│           ┆           ┆           ┆            ┆     ┆            ┆          ┆        ┆ rabbit   │
│           ┆           ┆           ┆            ┆     ┆            ┆          ┆        ┆ custom   │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ median    ┆ 23.0      ┆ 4.0       ┆ 148.5      ┆ ... ┆ 15.5       ┆ 76.0     ┆ null   ┆ null     │
└───────────┴───────────┴───────────┴────────────┴─────┴────────────┴──────────┴────────┴──────────┘

In [39]:
df.shape

(398, 9)

In [40]:
df.columns

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model_year',
 'origin',
 'name']

In [41]:
df.select([pl.min('mpg').alias('minimum'), pl.max('mpg').alias('maximum')], )

shape: (1, 2)
┌─────────┬─────────┐
│ minimum ┆ maximum │
│ ---     ┆ ---     │
│ f64     ┆ f64     │
╞═════════╪═════════╡
│ 9.0     ┆ 46.6    │
└─────────┴─────────┘

In [42]:
df.select(
    pl.when(pl.col('mpg')>35)\
    .then('Amazing')\
    .otherwise(pl.when(pl.col('mpg')>25).then('Good').otherwise('avg')).alias('bins'))

shape: (398, 1)
┌─────────┐
│ bins    │
│ ---     │
│ str     │
╞═════════╡
│ avg     │
├╌╌╌╌╌╌╌╌╌┤
│ avg     │
├╌╌╌╌╌╌╌╌╌┤
│ avg     │
├╌╌╌╌╌╌╌╌╌┤
│ avg     │
├╌╌╌╌╌╌╌╌╌┤
│ ...     │
├╌╌╌╌╌╌╌╌╌┤
│ Amazing │
├╌╌╌╌╌╌╌╌╌┤
│ Good    │
├╌╌╌╌╌╌╌╌╌┤
│ Good    │
├╌╌╌╌╌╌╌╌╌┤
│ Good    │
└─────────┘

In [43]:
df.with_columns([pl.when(pl.col('mpg')>35).then('Good').otherwise(pl.when(pl.col('mpg')>20).then('average').otherwise('ok')).alias('sss')])

shape: (398, 10)
┌──────┬───────────┬────────────┬────────────┬─────┬────────────┬────────┬───────────────┬─────────┐
│ mpg  ┆ cylinders ┆ displaceme ┆ horsepower ┆ ... ┆ model_year ┆ origin ┆ name          ┆ sss     │
│ ---  ┆ ---       ┆ nt         ┆ ---        ┆     ┆ ---        ┆ ---    ┆ ---           ┆ ---     │
│ f64  ┆ i64       ┆ ---        ┆ f64        ┆     ┆ i64        ┆ str    ┆ str           ┆ str     │
│      ┆           ┆ f64        ┆            ┆     ┆            ┆        ┆               ┆         │
╞══════╪═══════════╪════════════╪════════════╪═════╪════════════╪════════╪═══════════════╪═════════╡
│ 18.0 ┆ 8         ┆ 307.0      ┆ 130.0      ┆ ... ┆ 70         ┆ usa    ┆ chevrolet     ┆ ok      │
│      ┆           ┆            ┆            ┆     ┆            ┆        ┆ chevelle      ┆         │
│      ┆           ┆            ┆            ┆     ┆            ┆        ┆ malibu        ┆         │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 15.0 ┆ 8         ┆ 350.0      ┆ 165.0      ┆ ... ┆ 70         ┆ usa    ┆ buick skylark ┆ ok      │
│      ┆           ┆            ┆            ┆     ┆            ┆        ┆ 320           ┆         │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 18.0 ┆ 8         ┆ 318.0      ┆ 150.0      ┆ ... ┆ 70         ┆ usa    ┆ plymouth      ┆ ok      │
│      ┆           ┆            ┆            ┆     ┆            ┆        ┆ satellite     ┆         │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 16.0 ┆ 8         ┆ 304.0      ┆ 150.0      ┆ ... ┆ 70         ┆ usa    ┆ amc rebel sst ┆ ok      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...       ┆ ...        ┆ ...        ┆ ... ┆ ...        ┆ ...    ┆ ...           ┆ ...     │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 44.0 ┆ 4         ┆ 97.0       ┆ 52.0       ┆ ... ┆ 82         ┆ europe ┆ vw pickup     ┆ Good    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 32.0 ┆ 4         ┆ 135.0      ┆ 84.0       ┆ ... ┆ 82         ┆ usa    ┆ dodge rampage ┆ average │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 28.0 ┆ 4         ┆ 120.0      ┆ 79.0       ┆ ... ┆ 82         ┆ usa    ┆ ford ranger   ┆ average │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 31.0 ┆ 4         ┆ 119.0      ┆ 82.0       ┆ ... ┆ 82         ┆ usa    ┆ chevy s-10    ┆ average │
└──────┴───────────┴────────────┴────────────┴─────┴────────────┴────────┴───────────────┴─────────┘

In [44]:
df = df.with_columns([pl.when(pl.col('mpg')>35).then('Good').otherwise(pl.when(pl.col('mpg')>20).then('average').otherwise('ok')).alias('sss')])

In [45]:
df

shape: (398, 10)
┌──────┬───────────┬────────────┬────────────┬─────┬────────────┬────────┬───────────────┬─────────┐
│ mpg  ┆ cylinders ┆ displaceme ┆ horsepower ┆ ... ┆ model_year ┆ origin ┆ name          ┆ sss     │
│ ---  ┆ ---       ┆ nt         ┆ ---        ┆     ┆ ---        ┆ ---    ┆ ---           ┆ ---     │
│ f64  ┆ i64       ┆ ---        ┆ f64        ┆     ┆ i64        ┆ str    ┆ str           ┆ str     │
│      ┆           ┆ f64        ┆            ┆     ┆            ┆        ┆               ┆         │
╞══════╪═══════════╪════════════╪════════════╪═════╪════════════╪════════╪═══════════════╪═════════╡
│ 18.0 ┆ 8         ┆ 307.0      ┆ 130.0      ┆ ... ┆ 70         ┆ usa    ┆ chevrolet     ┆ ok      │
│      ┆           ┆            ┆            ┆     ┆            ┆        ┆ chevelle      ┆         │
│      ┆           ┆            ┆            ┆     ┆            ┆        ┆ malibu        ┆         │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 15.0 ┆ 8         ┆ 350.0      ┆ 165.0      ┆ ... ┆ 70         ┆ usa    ┆ buick skylark ┆ ok      │
│      ┆           ┆            ┆            ┆     ┆            ┆        ┆ 320           ┆         │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 18.0 ┆ 8         ┆ 318.0      ┆ 150.0      ┆ ... ┆ 70         ┆ usa    ┆ plymouth      ┆ ok      │
│      ┆           ┆            ┆            ┆     ┆            ┆        ┆ satellite     ┆         │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 16.0 ┆ 8         ┆ 304.0      ┆ 150.0      ┆ ... ┆ 70         ┆ usa    ┆ amc rebel sst ┆ ok      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ...       ┆ ...        ┆ ...        ┆ ... ┆ ...        ┆ ...    ┆ ...           ┆ ...     │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 44.0 ┆ 4         ┆ 97.0       ┆ 52.0       ┆ ... ┆ 82         ┆ europe ┆ vw pickup     ┆ Good    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 32.0 ┆ 4         ┆ 135.0      ┆ 84.0       ┆ ... ┆ 82         ┆ usa    ┆ dodge rampage ┆ average │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 28.0 ┆ 4         ┆ 120.0      ┆ 79.0       ┆ ... ┆ 82         ┆ usa    ┆ ford ranger   ┆ average │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 31.0 ┆ 4         ┆ 119.0      ┆ 82.0       ┆ ... ┆ 82         ┆ usa    ┆ chevy s-10    ┆ average │
└──────┴───────────┴────────────┴────────────┴─────┴────────────┴────────┴───────────────┴─────────┘

In [46]:
df.select(pl.col(pl.Int64))

shape: (398, 3)
┌───────────┬────────┬────────────┐
│ cylinders ┆ weight ┆ model_year │
│ ---       ┆ ---    ┆ ---        │
│ i64       ┆ i64    ┆ i64        │
╞═══════════╪════════╪════════════╡
│ 8         ┆ 3504   ┆ 70         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 8         ┆ 3693   ┆ 70         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 8         ┆ 3436   ┆ 70         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 8         ┆ 3433   ┆ 70         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...       ┆ ...    ┆ ...        │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 4         ┆ 2130   ┆ 82         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 4         ┆ 2295   ┆ 82         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 4         ┆ 2625   ┆ 82         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 4         ┆ 2720   ┆ 82         │
└───────────┴────────┴────────────┘

In [47]:
df.filter((pl.col('mpg')>20) & (pl.col('mpg')<30)).select(pl.col(pl.Int64))

shape: (146, 3)
┌───────────┬────────┬────────────┐
│ cylinders ┆ weight ┆ model_year │
│ ---       ┆ ---    ┆ ---        │
│ i64       ┆ i64    ┆ i64        │
╞═══════════╪════════╪════════════╡
│ 4         ┆ 2372   ┆ 70         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 6         ┆ 2833   ┆ 70         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 6         ┆ 2587   ┆ 70         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 4         ┆ 2130   ┆ 70         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...       ┆ ...    ┆ ...        │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 6         ┆ 2835   ┆ 82         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 4         ┆ 2950   ┆ 82         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 4         ┆ 2790   ┆ 82         │
├╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 4         ┆ 2625   ┆ 82         │
└───────────┴────────┴────────────┘

In [48]:
df.groupby(pl.col('sss')).agg(pl.mean('weight'))

shape: (3, 2)
┌─────────┬─────────────┐
│ sss     ┆ weight      │
│ ---     ┆ ---         │
│ str     ┆ f64         │
╞═════════╪═════════════╡
│ average ┆ 2483.279412 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Good    ┆ 2084.558824 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ok      ┆ 3779.78125  │
└─────────┴─────────────┘

In [49]:
df = df.lazy()

In [50]:
df.sort(-pl.col('mpg')).collect()

shape: (398, 10)
┌──────┬───────────┬──────────────┬────────────┬─────┬────────────┬────────┬─────────────┬──────┐
│ mpg  ┆ cylinders ┆ displacement ┆ horsepower ┆ ... ┆ model_year ┆ origin ┆ name        ┆ sss  │
│ ---  ┆ ---       ┆ ---          ┆ ---        ┆     ┆ ---        ┆ ---    ┆ ---         ┆ ---  │
│ f64  ┆ i64       ┆ f64          ┆ f64        ┆     ┆ i64        ┆ str    ┆ str         ┆ str  │
╞══════╪═══════════╪══════════════╪════════════╪═════╪════════════╪════════╪═════════════╪══════╡
│ 46.6 ┆ 4         ┆ 86.0         ┆ 65.0       ┆ ... ┆ 80         ┆ japan  ┆ mazda glc   ┆ Good │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 44.6 ┆ 4         ┆ 91.0         ┆ 67.0       ┆ ... ┆ 80         ┆ japan  ┆ honda civic ┆ Good │
│      ┆           ┆              ┆            ┆     ┆            ┆        ┆ 1500 gl     ┆      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 44.3 ┆ 4         ┆ 90.0         ┆ 48.0       ┆ ... ┆ 80         ┆ europe ┆ vw rabbit c ┆ Good │
│      ┆           ┆              ┆            ┆     ┆            ┆        ┆ (diesel)    ┆      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 44.0 ┆ 4         ┆ 97.0         ┆ 52.0       ┆ ... ┆ 82         ┆ europe ┆ vw pickup   ┆ Good │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ ...  ┆ ...       ┆ ...          ┆ ...        ┆ ... ┆ ...        ┆ ...    ┆ ...         ┆ ...  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 11.0 ┆ 8         ┆ 350.0        ┆ 180.0      ┆ ... ┆ 73         ┆ usa    ┆ oldsmobile  ┆ ok   │
│      ┆           ┆              ┆            ┆     ┆            ┆        ┆ omega       ┆      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 10.0 ┆ 8         ┆ 360.0        ┆ 215.0      ┆ ... ┆ 70         ┆ usa    ┆ ford f250   ┆ ok   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 10.0 ┆ 8         ┆ 307.0        ┆ 200.0      ┆ ... ┆ 70         ┆ usa    ┆ chevy c20   ┆ ok   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 9.0  ┆ 8         ┆ 304.0        ┆ 193.0      ┆ ... ┆ 70         ┆ usa    ┆ hi 1200d    ┆ ok   │
└──────┴───────────┴──────────────┴────────────┴─────┴────────────┴────────┴─────────────┴──────┘

In [51]:
df.sort(pl.col('mpg'), reverse = True).collect()

shape: (398, 10)
┌──────┬───────────┬──────────────┬────────────┬─────┬────────────┬────────┬─────────────┬──────┐
│ mpg  ┆ cylinders ┆ displacement ┆ horsepower ┆ ... ┆ model_year ┆ origin ┆ name        ┆ sss  │
│ ---  ┆ ---       ┆ ---          ┆ ---        ┆     ┆ ---        ┆ ---    ┆ ---         ┆ ---  │
│ f64  ┆ i64       ┆ f64          ┆ f64        ┆     ┆ i64        ┆ str    ┆ str         ┆ str  │
╞══════╪═══════════╪══════════════╪════════════╪═════╪════════════╪════════╪═════════════╪══════╡
│ 46.6 ┆ 4         ┆ 86.0         ┆ 65.0       ┆ ... ┆ 80         ┆ japan  ┆ mazda glc   ┆ Good │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 44.6 ┆ 4         ┆ 91.0         ┆ 67.0       ┆ ... ┆ 80         ┆ japan  ┆ honda civic ┆ Good │
│      ┆           ┆              ┆            ┆     ┆            ┆        ┆ 1500 gl     ┆      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 44.3 ┆ 4         ┆ 90.0         ┆ 48.0       ┆ ... ┆ 80         ┆ europe ┆ vw rabbit c ┆ Good │
│      ┆           ┆              ┆            ┆     ┆            ┆        ┆ (diesel)    ┆      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 44.0 ┆ 4         ┆ 97.0         ┆ 52.0       ┆ ... ┆ 82         ┆ europe ┆ vw pickup   ┆ Good │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ ...  ┆ ...       ┆ ...          ┆ ...        ┆ ... ┆ ...        ┆ ...    ┆ ...         ┆ ...  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 11.0 ┆ 8         ┆ 350.0        ┆ 180.0      ┆ ... ┆ 73         ┆ usa    ┆ oldsmobile  ┆ ok   │
│      ┆           ┆              ┆            ┆     ┆            ┆        ┆ omega       ┆      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 10.0 ┆ 8         ┆ 360.0        ┆ 215.0      ┆ ... ┆ 70         ┆ usa    ┆ ford f250   ┆ ok   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 10.0 ┆ 8         ┆ 307.0        ┆ 200.0      ┆ ... ┆ 70         ┆ usa    ┆ chevy c20   ┆ ok   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 9.0  ┆ 8         ┆ 304.0        ┆ 193.0      ┆ ... ┆ 70         ┆ usa    ┆ hi 1200d    ┆ ok   │
└──────┴───────────┴──────────────┴────────────┴─────┴────────────┴────────┴─────────────┴──────┘

In [52]:
x = 1_000_000_000
y = 2

In [53]:
f'{x*y:,}'

'2,000,000,000'

In [55]:
df.describe_optimized_plan()

'  DF ["mpg", "cylinders", "displacement", "horsepower"]; PROJECT */10 COLUMNS; SELECTION: "None"\n'

In [57]:
data = df.collect().to_pandas()

In [ ]:
# df.pipe(func, **kwargs)
# .cast(dtype)